logs.txt
onb-server/logs.txt
node_modules
default.tmx
net_battle_server.exe
generated
areas
domain
Scriptable-OpenNetBattle-Server
server.pid
onb-server/server.pid
onb-server/memory*
onb-server/scripts/bbs*
onb-server/scripts/bbs/data.json
